*{
    margin: 0;

}
body{
    background-color:rgba(26, 44, 44, 0.815);
    margin-right: 5%;
}
.head{
    font-size: x-large;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 30px;
    color: beige;
}
.menu{     
    margin-top: 20px;
    list-style: none;
    width: 20%;
    float: left;
    font-family: sans-serif;
    font-size: x-large;
      
}
.menu li a{
    text-decoration: none;
    color: beige;   
}
li a:hover{
    color: gray;
}
.contenido{
    list-style: none;
    width: 80%;
    color: beige;
    float: left; 
}
.art1{
    background-color:rgba(0, 215, 243, 0.712);
    font-family: sans-serif;
    font-size: medium;
    text-align: left;
    height: 25%;
    padding: 7%;
}
.art2{
    background-color:rgba(255, 221, 0, 0.973);
    font-family: sans-serif;
    font-size: medium;
    text-align: left;
    height: 25%;
    padding: 7%;
}
.art3{
    background-color:rgba(255, 123, 0, 0.925);
    font-family: sans-serif;
    font-size: medium;
    text-align: left;
    height: 25%;
    padding: 7%;
}
.art4{
    background-color:rgba(255, 0, 17, 0.877);
    font-family: sans-serif;
    font-size: medium;
    text-align: left;
    height: 25%;
    padding: 7%;
}
.footter{
    font-family: sans-serif;
    color: beige;
    font-size: medium;
    float: right;
    text-align: right;
    margin-top: 20px;
}
.m1{
    background-color:slategray;
    font-family: sans-serif;
    font-size: medium;
    text-align: left;
    height: 25%;
    padding: 3%;
}
.m2{
    background-color:darkgoldenrod;
    font-family: sans-serif;
    font-size: medium;
    text-align: left;
    height: 25%;
    padding: 3%;
}
.m3{
    background-color:chocolate;
    font-family: sans-serif;
    font-size: medium;
    text-align: left;
    height: 25%;
    padding: 3%;
}
.m4{
    background-color:crimson;
    font-family: sans-serif;
    font-size: medium;
    text-align: left;
    height: 25%;
    padding: 3%;
}
table{
    text-align: justify;
}
.map{
    background-color:lightcoral;
    padding: 17px;
    font-size: x-large;
    font-family: sans-serif;
    text-align: left;
}
table td a{
    color: beige;
    text-decoration: none;
    text-align: center;
    font-family: sans-serif;
    font-size: x-large;
}
table td a:hover{
    background-color: darkolivegreen;

}
table td p{
    color: beige;
    text-align: left;
    margin-left: 20px;
}
.ani{
    background-color:lightcoral;
    padding: 10px;
    font-size: x-large;
    font-family: sans-serif;
    text-align: left;
}