*{
    margin: 0;

}
body{
    background-color: black;
    margin-right: 7%;
}
.head{
    font-size: x-large;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 30px;
    color: beige;
}
.menu{     
    margin-top: 20px;
    list-style: none;
    width: 20%;
    float: left;
    font-family: sans-serif;
    font-size: x-large;
      
}
.menu li a{
    text-decoration: none;
    color: beige;   
}
li a:hover{
    color: gray;
}
.contenido{
    list-style: none;
    width: 80%;
    color: beige;
    float: left; 
}
.art1{
    background-color:slategray;
    font-family: sans-serif;
    font-size: medium;
    text-align: left;
    height: 25%;
    padding: 7%;
}
.art2{
    background-color:darkgoldenrod;
    font-family: sans-serif;
    font-size: medium;
    text-align: left;
    height: 25%;
    padding: 7%;
}
.art3{
    background-color:chocolate;
    font-family: sans-serif;
    font-size: medium;
    text-align: left;
    height: 25%;
    padding: 7%;
}
.art4{
    background-color:crimson;
    font-family: sans-serif;
    font-size: medium;
    text-align: left;
    height: 25%;
    padding: 7%;
}
.footter{
    font-family: sans-serif;
    color: beige;
    font-size: medium;
    float: right;
    text-align: right;
}